<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cedar.app"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ListofRides"
            android:label="@string/title_activity_listof_rides" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DisplayMap"
            android:label="@string/title_activity_display_map" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cedar.app.ListofRides" />
        </activity>
        <activity
            android:name=".RideDetails"
            android:label="@string/title_activity_ride_details" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cedar.app.ListofRides" />
        </activity>
    </application>

</manifest>